[Unit]
Description=snx-rs VPN plugin for NetworkManager
After=network.target

[Service]
Type=dbus
BusName=org.freedesktop.NetworkManager.snx
ExecStart=/usr/bin/snx-nm-service
User=root
Group=root

[Install]
WantedBy=multi-user.target
